body {
    font-family: 'Roboto Mono';
    background: url("back.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    color: black;
}

#b {
    font-family: 'Roboto Mono';
    background-color: transparent;
    border: solid;
    border-color: black;
    border-width: 2px;
}

#b:hover {
    font-size: 15px;
    background-color: darkorange;
    border-width: 3px;
}

